html > body, h1, h2, .mdl-button {
    font-family: 'Lato', 'Roboto', 'Arial', sans-serif !important;
}

a {
	text-decoration: none;
    font-weight: bold;
}

#demo-canvas {
    width: 100%;
    height: 75vh;
    min-height: 400px;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  top: 37.5%;
  left: 50%;
}

.main-title > h1 {
    letter-spacing: 5px;
    font-size: 42px;
}

.main-title > h2 {
    font-size: 18px;
}

@media screen and (max-width: 1024px) {
.main-title {
    width: 90%;
    margin-top: 56px;
}
}

.mdl-layout__drawer, .mdl-layout__header {
    background-color: #2b2b2b;
    border-right-color: #2b2b2b;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #fff;
    font-weight: bold;
    font-size: 1.15rem;
    padding: 10px 40px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #aaa;
    font-weight: bold;
    font-size: 1.15rem;
}

.mdl-grid {
    max-width: 1400px;
}

.mdl-cell {
    padding: 0.5vw;
}

.mdl-card {
    font-family: 'Lato', 'Roboto', 'Arial', sans-serif !important;
    width: 100%;
    min-height: 10px;
    height: 100%;
}

.card .mdl-card__supporting-text {
    padding: 1rem;
    width: auto;
}

.mdl-card__supporting-text p, li {
    font-size: 16px;
}

.mdl-card__supporting-text img {
    width: 100%;
}

.card .mdl-card__title {
	color: #fff;
    background-color: #263238;
	height: 120px;
}

.mdl-card__supporting-text h1 {
    font-size: 18px;
    line-height: normal;
    margin: 0.25em 0;
}

.mdl-card__supporting-text h2 {
    font-size: 16px;
    margin: 0;
    line-height: normal;
    margin: 0.25em 0;
}

.mdl-card__supporting-text h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0.25em 0;
}

.mdl-card__actions {
    margin-top: auto;
}

.mdl-button--primary img {
	margin: auto 0.5em auto 0;
}

.mdl-mini-footer {
    padding: 1em;
}

.mdl-mini-footer a {
    font-weight: bold;
    color: #ddd;
}

.mdl-mini-footer a:hover {
    color: #fff;
}

.basic-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.basic-info h1 {
    font-size: 1.6rem;
    line-height: normal;
    margin: 0.5em 0;
}

.basic-info .face {
    max-width: 200px;
    margin: 20px 60px;
}

.basic-info .address p{
    font-size: 1.2em;
}

#back {
	margin: 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.spaced {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
.mdl-layout__tab-bar {
    width: calc(100% - 120px);
    padding: 0 0 0 60px;
}
}

.mdl-button {
    font-weight: bold;
}

.basic-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.basic-info > div {
    text-align: center;
    width: 250px;
}

.basic-info .face {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 1em;
}
