{{ partial "header.html" . }}
<div class="mdl-color--indigo-900" id="neuro"><canvas id="demo-canvas"></canvas></div>
<div class="mdl-color-text--white main-title"><h1>RESENDIS ANTONIO LAB</h1><hr>
<h2>Blending Biology and Computation to understand human diseases.</h2></div>
<div class="page-content mdl-grid">
<br><br>
{{ range first 1 (where .Data.Pages "Section" "posts") }}
<div class="mdl-cell mdl-cell--12-col">
<div class="card mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title" {{ if .Params.hero }}style="background: url('/media/{{.Params.hero}}') center / cover"{{end}}>
        <h1 class="mdl-card__title-text">Latest Blog Post</h1>
    </div>
    <div class="mdl-card__supporting-text">
        <h1 class="mdl-color-text--primary">{{.Title}}</h1>
        <h2 class="mdl-color-text--teal-500">by {{ .Params.author }}</h2><br/>
        {{.Summary}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{.RelPermalink}}">Read more...</a>
    </div>
</div></div>
{{end}}
{{ range first 1 (where .Data.Pages "Section" "pubs")}}
<div class="mdl-cell mdl-cell--12-col">
<div class="card mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">Latest Publication</h1>
    </div>
<div class="mdl-card__supporting-text">
    <h1 class="mdl-color-text--primary">{{ .Title }}</h1>
    <h3 class="mdl-color-text--gray">{{ if .Params.journal }}{{ title .Params.journal }}&nbsp;{{end}}{{ .Date.Year }}</h3>
    <h2 class="mdl-color-text--teal-500">{{ delimit .Params.authors ", " " and "}}</h2>
</div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/pubs">See all...</a>
    </div>
</div></div>
{{end}}
</div>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/neuro.js"></script>
{{ partial "footer.html" . }}
