{{ partial "header.html" . }}
<div class="page-content">
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#current" class="mdl-tabs__tab is-active">Current</a>
      <a href="#former" class="mdl-tabs__tab">Former</a>
  </div>
<div class="mdl-tabs__panel is-active" id="current">
<br><div class="mdl-grid">
{{ range .Site.Data.members.current }}
<div class="mdl-cell mdl-cell--4-col">
<div class="mdl-card mdl-shadow--4dp">
<div class="mdl-card__supporting-text">
<div class="basic-info">
<img class="face mdl-shadow--2dp" src="/media/{{ .image }}">
    <div><h1 class="mdl-color-text--primary">{{ .name }}</h1>
    <h2 class="mdl-color-text--teal-500">{{ .function }}</h2></div>
</div>
</div>
<div class="mdl-card__actions mdl-card--border">
<a class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="mailto:{{ .mail }}"><i class="material-icons">mail outline</i></a>
<a class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ .website }}"><i class="material-icons">person pin</i></a>
<a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="https://twitter.com/{{ .twitter }}"><img src="/media/twitter.svg" height="80%"/></a>

</div>
</div>
</div>
{{end}}
</div></div>
<div class="mdl-tabs__panel" id="former">
<br><div class="mdl-grid">
{{ range .Site.Data.members.former }}
<div class="mdl-cell mdl-cell--4-col">
<div class="mdl-card mdl-shadow--4dp">
<div class="mdl-card__supporting-text">
<div class="basic-info">
<img class="face mdl-shadow--2dp" src="/media/{{ .image }}">
    <div><h1 class="mdl-color-text--primary">{{ .name }}</h1>
    <h2 class="mdl-color-text--teal-500">{{ .function }}</h2></div>
</div>
</div>
<div class="mdl-card__actions mdl-card--border">
<a class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="mailto:{{ .mail }}"><i class="material-icons">mail outline</i></a>
<a class="mdl-button mdl-button--icon mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ .website }}"><i class="material-icons">person pin</i></a>
<a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="https://twitter.com/{{ .twitter }}"><img src="/media/twitter.svg" height="80%"/></a>
</div>
</div>
</div>
{{end}}
</div></div>
</div></div>
{{ partial "footer.html" . }}
