{{ partial "header.html" . }}
<div class="page-content mdl-grid">
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet" style="margin-bottom: 2em">
    <div class="card mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title mdl-color--indigo-900" style="height:auto">
        <h1 class="mdl-card__title-text">Software</h1>
    </div>
    </div>
</div>
{{ range where .Data.Pages "Section" "software" }}
<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
<div class="mdl-card mdl-shadow--4dp">
<div class="mdl-card__supporting-text">
{{ if .Params.logo }}
<img src="{{ .Params.logo }}" style="height: 4em; width:auto">
{{ else }}<h1 class="mdl-color-text--primary">{{ .Title }}</h1>{{ end }}
<h2 class="mdl-color-text--teal-500">{{ delimit .Params.authors ", " " and "}}</h2>
<br>{{ .Content }}
</div>
<div class="mdl-card__actions mdl-card--border">
<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
    href="{{ .Params.repo }}"><i class="material-icons">code</i>&nbsp;Source</a>
{{ if .Params.docs }}
<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
   href="{{ .Params.docs }}"><i class="material-icons">link</i>&nbsp;Documentation</a>
{{ end }}
</div>
</div>
</div>
{{end}}
</div>
{{ partial "footer.html" . }}
